{% extends 'base.html' %}
{% block content %}

<div class="container">
<p align="left" > <font size="5"  face="kaiti"> <b>教會宗旨:</b></font><br/>
<br/>
<font size="3"  face="kaiti">
傳揚耶穌之福音<br/>
講解聖經之真理<br/>
造就信徒之生命<br/>
訓練教會之服事<br/>
</p>   <p>
恩道聖經教會的成立，是基於Charlotte數千華人聚集的Ballantyne 地區对華人教會的需要，可以滿足神對眾多華人的心意；就是藉著福音的廣傳領人歸主，以持守聖經真理的教導造就成熟的生命，尋求聖靈的帶領存謙卑的心彼此服事, 榮主益人。
</p></font>

<p align="left" > <font size="5"  face="kaiti"> <b>信仰宣言</b></font><br/><br/>
<font size="3"  face="kaiti">
1.	我們相信整本新舊約聖經是神完全的啟示，由人經聖靈感動準確無誤地寫下神的話，是惟一的，永不朽壞的，終極的，人生和信仰的最高準則，於一切所教導的完全正確。
</font></b></br><font size="2"  face="kaiti">
(詩篇19:7-9; 箴言30:5-6; 以賽亞書40:8; 馬太福音5:18; 哥林多前書2:13; 10:11; 提摩太后書3:16-17; 彼得后書1:21)
</font></br></br><font size="3"  face="kaiti">
2.	我們相信神是天地萬物的創造者，是靈，是光，是生命，是愛，是真理；無所不知，無所不能，無所不在，永恆不變；擁有無限之智慧，聖潔，信實，公義，慈愛和憐憫；以權能托住萬有，掌管一切，以顯明其善良，純全，可喜悅的旨意。
</font></b></br><font size="2"  face="kaiti">
(創世紀1:1; 出埃及記34:6-7; 申命記32:4; 33:27; 詩篇33:11; 62:11; 86:15; 90:2; 102:12, 24-27; 104:24; 115:2-3; 117:2; 139:7-10; 145:3; 147:5; 以賽亞書14:24; 40:26, 48:12-13; 耶利米書23:24, 32:17; 瑪拉基書3:6; 馬太福音10:29-30, 19:26; 約翰福音 1:4; 4:24; 14:6; 羅馬書3:26; 11:33-36; 以弗所書1:11-12; 歌羅西書1:16-17; 提摩太前書6:15-16; 希伯來書1:2-3, 12; 4:13; 6:17-18; 13:8; 雅各書1:17; 彼得前書1:15-16; 約翰一書3:3, 5, 20; 4:8; 啟示錄 1:4, 8; 15:4）
</font></br></br><font size="3"  face="kaiti">
3.	我們相信又真又活獨一的神，永遠共存於三個位格：聖父，聖子，和聖靈。這三個位格乃為一神，同質，同能，同榮。
</font></b></br><font size="2"  face="kaiti">
(創世紀1:26; 申命記6:4; 詩篇96:4-5; 以賽亞書43:10-11; 44:6; 45:21-22; 46:9; 48:16; 耶利米書10:10; 馬太福音3:16-17; 16:16; 28:19; 約翰福音1:1; 10:30; 14:9-11; 15:26; 17:3, 5; 使徒行傳5:3-4; 羅馬書9:5; 哥林多前書8:4-6; 哥林多後書 3:17; 13:14; 歌羅西書2:9; 希伯來書1:2,3; 彼得前書1:2; 約翰一書5:20; 猶大書24-25）
</font></br></br><font size="3"  face="kaiti">
4.	我們相信父神是我們的主和救主耶穌基督之永在的父；是人眼所不能見，惟有其獨生子耶穌基督能將祂表明出來；父神命定並呼召那些在未有世界以先就蒙揀選得在耶穌基督裏成為神兒女的人；且差其獨生子來到世間，叫一切信他兒子名的，不至滅亡，反得永生。
</font></b></br><font size="2"  face="kaiti">
(約翰福音1:1-2, 12, 18; 3:16; 10:30; 14:9-11; 17:3, 5; 羅馬書8:29-30; 加拉太書3:26; 以弗所書1:3-10; 約翰一書3:1）
</font></br></br><font size="3"  face="kaiti">
5.	我們信耶穌基督，父神的獨生愛子，是永存之道顯在肉身。我們相信祂是童女馬利亞從聖靈受孕而生，並且祂為完全的神,同時也是無罪之完全的人。
</font></b></br><font size="2"  face="kaiti">
(以賽亞書7:14; 9:6; 約翰福音1:1-2,14,18; 路加福音1:30-35; 羅馬書9:5; 哥林多後書5:21; 腓立比書2:5-8; 歌羅西書2:9; 希伯來書4:15; 1；彼得前書2:22）
</font></br></br><font size="3"  face="kaiti">
6.	我們相信聖靈，是三一神之第三位格，現今常臨於世，為以榮耀並見證耶穌基督；祂領人認罪，教導人真理，重生人之靈，內住人之心，施洗，堅固，並賜能力給信徒活出聖潔之生命。
</font></b></br><font size="2"  face="kaiti">
(約翰福音3:5-6; 14:16-26; 15:26; 16:7-15; 使徒行傳1:8; 5:3-4; 羅馬書8:9-11; 哥林多前書3:16; 6:19; 12:4-13; 加拉太書5:22-23; 以弗所書1:13-14; 4:30; 提多書3:5; 彼得前書1:1-2）
</font></br></br><font size="3"  face="kaiti">
7.	我們相信人是按照神的形象被造，但因犯罪背離神，而導致死亡並與神之隔絕臨到世上所有的人。人無法靠自己與神和好，若持守在不信之罪中，將被神絕對公正地判定受永恒之刑罰。
</font></b></br><font size="2"  face="kaiti">
(創世紀1:26-27; 2:17; 3:6; 以賽亞書53:6a; 64:6; 耶利米書17:9; 馬可福音7:20-23; 約翰福音3：18；羅馬書5:12-14; 哥林多前書15:22a; 以弗所書2:1-3）
</font></br></br><font size="3"  face="kaiti">
8.	我們相信惟有個人通過對耶穌基督救贖大功的信心，人才能得以因神的恩典及基督所灑之寶血與神和好。只有與神和好，人才能有平安面對神，通過耶穌基督直接進到神面前，並有與神同享永恆榮耀的盼望。
</font></b></br><font size="2"  face="kaiti">
(創世紀15:6; 哈巴谷書2:4; 約翰福音1:12-13, 29; 14:6; 使徒行傳4:12; 羅馬書3:25-26, 28; 以弗所書1:7; 哥林多後書5:14; 提摩太前書2:5; 提多書 3:5; 希伯來書9:11-28; 10:5-19; 彼得前書2:24; 3:18; 約翰一書1:7）
</font></br></br><font size="3"  face="kaiti">
9.	我們相信耶穌基督為我們的罪受死，凡信他的人都因他所灑之寶血而稱義。
</font></b></br><font size="2"  face="kaiti">
(約翰一書1:29; 羅馬書3:25-26; 哥林多後書5:14; 希伯來書10:5-19; 彼得前書2:24; 3:18; 約翰一書1:7）
</font></br></br><font size="3"  face="kaiti">
10.	 我們相信耶穌基督從死裏復活並昇天，成為惟一在人和父神之間的大祭司和中保。
</font></b></br><font size="2"  face="kaiti">
(馬太福音28:5-7; 路加福音24:5-7, 36-46; 約翰福音14:6; 21:14; 使徒行傳1:1-11; 羅馬書8:34; 哥林多前書15:20; 提摩太前書2:5; 希伯來書8:1, 6; 9:24）
</font></br></br><font size="3"  face="kaiti">
11.	我們相信耶穌基督將在榮耀裏再臨，拯救義人，審判惡人，並成就對其國度完全的統領，在地如同在天。
</font></b></br><font size="2"  face="kaiti">
(馬太福音24:30-31; 約翰福音14:1-3; 腓立比書3:20; 帖撒羅尼迦前書1:10; 帖撒羅尼迦後書2:8-10; 提多書2:13）
</font></br></br><font size="3"  face="kaiti">
12.	我們相信義人，惡人都有身體的復活；得救的有永恆的福份，淪喪的受永遠的刑罰。
</font></b></br><font size="2"  face="kaiti">
(馬太福音25:41; 約翰福音5:24, 28, 29; 哥林多前書15:20-28, 50-54; 帖撒羅尼迦前書1:10; 4:14-17; 啟示錄20:11-15）
</font></br></br><font size="3"  face="kaiti">
13.	我們相信耶穌基督親自定規水禮和聖餐禮，並教導信徒遵守直到他的再來。
</font></b></br><font size="2"  face="kaiti">
(馬太福音26:26-29; 28:19-20; 路加福音22:19-20; 使徒行傳2:41-42; 8:36-39; 羅馬書6:3-5; 哥林多前書11:23-34）
</font></br></br><font size="3"  face="kaiti">
14.	我們相信我們的主耶穌基督，借著呼召那些因他寶血得贖成聖之信徒，與他聯合成為一體，自己為元首，親自建立他的教會，成為神之真理的柱石和根基；這普世之教會彰顯於各個地方教會, 借眾信徒聚集崇拜，遵行聖禮，彼此建立信德，監督各人對信仰之順從，照顧貧窮和有缺乏之人，廣傳福音直到世界的末了，都是為著神的榮耀。
</font></b></br><font size="2"  face="kaiti">
(馬太福音16:16-18; 28:18-20; 約翰福音4:23-24; 哥林多前書1:2; 5:11-13; 11:23-26; 14:26;  以弗所書1:7, 22-23; 4:11-13; 5:18-20, 23; 歌羅西書1:18, 24; 3:15-17; 提摩太前書3:15; 提多書2:14; 希伯來書3:12-13; 雅各書5:19-20; 彼得前書1:2; 猶大書20-23）
</font></br>
<font size="0.5" color="white"> Truth in Grace Bible Church, a Chinese Christian church at South Charlotte Ballantyne.
We focus on the Truth and Grace based on the Bible. We focus on spiritual life and relationships. </font>
</div>
{% endblock %}
