{% extends 'base.html' %}
{% load i18n %}
{% load static%}

{% block content %}
    <!-- picture slides -->
    <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" >
          <div class="carousel-item active">
            <img src="{% static 'img/worship1.png' %}" alt="worship" class="d-block img-fluid">
          </div>

          <div class="carousel-item">
            <img src="{% static 'img/worship2.png' %}" alt="worship" class="d-block img-fluid">
          </div>

          <div class="carousel-item">
            <img src="{% static 'img/w03.jpg' %}" alt="worship" class="d-block img-fluid">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/w12.jpg' %}" alt="worship" class="d-block img-fluid">
          </div>
        </div>

      </div>
    </div>
  <div>

    <!-- About Section -->
    <span class="anchor" id="about"></span>
    <div class="container-fluid">
      <div class='container about-section'>
        <h2 class="text-center text-light mb-3">{% trans '关于恩道' %}</h2>
        <div class="row text-light">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{%include about %}</p>
        </div>
      </div>
    </div>
    <!-- worship Section -->
    <span class="anchor" id="worship"></span>
    <div class="call-outs-container">
      <div class="container">
        <div class="row">
<!--            <div class="call-out">-->
<!--        	       <img  src="/static/img/prayer.png"  width="100%">-->
<!--                 <div class="text-img-centered text-light bg-dark text-center" style="font-size: 150%">{%trans "主日祷告" %}<br>09:00-9:15am</div>-->
<!--            </div>-->
            <div class="call-out">
                 <img  src="{% static 'img/worship.jpg' %}" width="100%" height="73%">
                 <div class="text-img-centered text-light bg-dark text-center" style="font-size: 150%">{%trans "主日崇拜" %}<br>10:00-11:15am</div>
            </div>
            <div class="call-out">
                 <img src="{% static 'img/bible_study.png' %}"  width="100%">
                 <div class="text-img-centered text-light bg-dark text-center" style="font-size: 150%">{%trans "主日学校" %}<br>11:30am-12:30pm</div>
            </div>
            <div class="call-out">
                 <img src="{% static 'img/fellowship.png' %}"  width="100%" height="73%">
                 <div class="text-img-centered text-light bg-dark text-center" style="font-size: 150%">{%trans "周五团契" %}<br>07:30-09:00pm</div>
            </div>
        </div>
      </div>
    </div>
    <!-- Contact Section -->
    <span class="anchor" id="contact"></span>

    <div class="call-outs-container">
      <div class="container">
        <div class="row">
            <div class="call-out2">
              <div class='row'>
                <div class="col-sm-6 col-md-6">
                  <div class="card border-0">
                     <div class="card-body text-center">
                       <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                       <!-- <h4 class="text-uppercase mb-5">call us</h4> -->
                       <p>{%trans '王宇晖传道'%}</p>
                     </div>
                   </div>
                </div>
                <div class="col-sm-6 col-md-6">
                <div class="card border-0">
                   <div class="card-body text-center">
                     <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                     <h4 class="text-uppercase mb-5" hidden="true">联系我</h4>
                     <p>(980) 202-2086</p>
                   </div>
                 </div>
              </div>
              </div>
              <div class='row'>
                <div class="col-sm-6 col-md-6">
                  <div class="card border-0">
                     <div class="card-body text-center">
                       <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                       <p>info@TruthinGrace.org</p>
                     </div>
                   </div>
                </div>
                <div class="col-sm-6 col-md-6">
                <div class="card border-0">
                   <div class="card-body text-center">
                     <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    <address>9829 Providence Road West, Charlotte, NC 28277</p> </address>
                   </div>
                 </div>
              </div>
              </div>
           </div>
            <div class="call-out2">
                <a href="https://www.google.com/maps/place/9829+Providence+Rd+W,+Charlotte,+NC+28277/@35.0379346,-80.8311338,17z/data=!3m1!4b1!4m5!3m4!1s0x885682b429075745:0xfc0a044182e1ce56!8m2!3d35.0379302!4d-80.8289451?hl=en" target="top" style="TEXT-DECORATION: NONE; color:white">
  	            <img width="100%" src="{% static 'img/map3.png' %}"> </a>
            </div>

        </div>
      </div>
    </div>
    <div class="container">
        <!-- Contact Section Heading -->
        <h2 class="text-center text-uppercase text-secondary mb-0">{%trans '联系我'%}</h2>
        <!-- Contact Section Form -->
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
              {% include "contact_me.html" %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
