
body {padding-top: 160px;}
.anchor{
  display: block;
  height: 160px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

.column-layout {
  max-width: 1300px;
  background-color: #FFF;
  margin: 1px auto 0 auto;
  line-height: 1.65;
  padding: 2% 2%;
  display: flex;
}

.main-column {
  flex: 1;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;
}


.call-outs-container {
  max-width: 1400px;
  margin: 0px auto 0 auto;
}

.call-out {
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 0px;
  flex-basis: 33%;
}

@media (min-width: 1000px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
  }
}

.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}


.call-outs-container {
  max-width: 1400px;
  margin: 0px auto 0 auto;
}

.call-out2 {
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 0px;
  flex-basis: 50%;
}

.button-wrapper {
	display: flex;
    flex-flow: column wrap;
	  justify-content: space-around;
}

.call-out2:nth-child(1) {background-color: #ffffff;}
.call-out2:nth-child(2) {background-color: #ffffff;}


.about-section {background-color: #2a4c60}


.floating-label-form-group label {
  visibility: hidden;
  height: 2px;
}

.copyright {
  background-color: #2a4c60;
}
