
body {padding-top: 160px;}
.anchor{
  display: block;
  height: 160px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

.column-layout {
  max-width: 1300px;
  background-color: #FFF;
  margin: 1px auto 0 auto;
  line-height: 1.65;
  padding: 2% 2%;
  display: flex;
}

.main-column {
  flex: 1;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;
}

/* third example */
.call-outs-container {
  max-width: 1400px;
  margin: 10px auto 0 auto;
}

.call-out {
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  flex-basis: 33%;
}
.text-img-centered {
  position: relative;
  top:  0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media (min-width: 900px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
  }
}

.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}

.about-section {background-color: #87cefa}


.floating-label-form-group label {
  visibility: hidden;
}

.copyright {
  background-color: #87cefa;
}
